* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  font-family: "Noto Serif TC", "Gowun Dodum", sans-serif;
}

.main-content-root {
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  background-color: beige;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);

  z-index: 3;
  width: 100%;
  min-height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
}

.logo {
  color: rgb(29, 6, 6);
  font-size: 2rem;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
}

.burger div {
  background-color: rgb(29, 6, 6);
  width: 28px;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger {
  margin: 10px;
  cursor: pointer;
}

.menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10vh;
  right: 0;
  width: 40%;
  list-style: none;

  background-color: beige;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.menu-active {
  /* 指定出現後位置 */
  transform: translateX(0);
}

.item a {
  text-decoration: none;
  text-align: center;
  line-height: 10vh;
  color: rgb(29, 6, 6);
}

.item:hover {
  background-color: rgb(255, 237, 215);
  width: 100%;
  text-align: center;
}

/* 文字隱形漸顯特效 */
.item {
  opacity: 0;
}

.main-slide {
  margin-top: 3em;
  min-height: 18em;
  background-image: url("./images/kaohsiung.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  margin-top: 1.3em;
}

.welcome-title {
  margin: 0 0.8em;
  color: white;
  text-shadow: rgb(7, 6, 6) 0.1em 0.1em 0.2em;
  font-size: 3em;
}

.main-content {
  padding: 2em;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

.boxes-items div {
  margin-bottom: 1.5em;
}

.action-btn {
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 2em;
  font-size: 1.2em;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

.action-btn:hover {
  box-shadow: 0px 10px 5px -2px rgba(0, 0, 0, 0.3);
}

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic h3 {
  margin: 10px;
}

.topic a {
  color: black;
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic a:hover h3 {
  text-decoration: underline;
}

.topic img {
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
}

.topic img:hover {
  transform: scale(1.05);
}

.main-footer {
  background-color: beige;
  padding: 1em 2em;
}

.photo-credit {
  font-size: 0.8em;
}

.main-footer a,
.action-btn {
  text-decoration: none;
  color: black;
}

.main-footer a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 500px) {
  .boxes-items {
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
    justify-content: center;
  }
}

@media only screen and (min-width: 800px) {
  .menu {
    position: static;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 10vh;
    width: 60%;
    transform: translateX(0);
  }

  .item {
    padding: 0 30px;
  }

  .item a {
    display: block;
  }
  .item:hover {
    background-color: rgb(255, 237, 215);
    width: auto;
  }

  .burger {
    display: none;
  }
  .boxes-items {
    padding: 3% 3%;
    justify-content: center;
  }

  .item {
    opacity: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .header,
  .main-footer {
    padding: 0 5em;
  }

  .boxes-items {
    max-width: 1200px;
  }

  .main-content {
    padding: 0;
    margin: 0 auto;
  }
}

@keyframes menuLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
