<%- include('includes/head') %>
<main>
  <% if(name){ %>

  <h1 class="title">Welcome back !</h1>
  <h1><%= name %></h1>
  <form action="/logout" method="POST">
    <button type="submit">Log out</button>
  </form>

  <% }else{ %>

  <h1 class="title">Please Login:</h1>
  <form action="/trackName">
    <input type="text" name="name" />
    <button type="submit">save</button>
  </form>
  <% } %>
</main>
<%- include('includes/footer') %>
