<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <nav class="nav">Week3</nav>
    <main>
      <h1>Hello, My Server!</h1>
      <p id="text"></p>
    </main>
    <footer class="footer">Welcome!</footer>
  </body>
</html>
